browserstack-local
jsonmerge
multiprocess
paver
psutil
pytest-variables
pytest-selenium



pytest~=7.2
assertpy~=1.1
pytest-xdist~=3.2
pytest-dotenv~=0.5.2
pytest-repeat~=0.9.1
pytest-rerunfailures~=11.1
selenium~=4.8
Appium-Python-Client~=2.8

webdriver-manager~=4.0.0
openpyxl~=3.1.5
pandas~=2.2.3

browserstack-sdk~=1.22.4
pyautogui~=0.9.54
slack-sdk~=3.33.3
